<div id="<%= dom_id consultum %>">
  <p>
    <strong>Médico:</strong>
    <%= consultum.medico_id %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente_id %>
  </p>

  <p>
    <strong>Data consulta:</strong>
    <%= consultum.data_consulta %>
  </p>

</div>
