<% content_for :title, "Editando paciente" %>

<h1>Editando paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%= link_to "Mostrar paciente", @paciente, class: "btn btn-primary btn-sm" %> |
  <%= link_to "Voltar para pacientes", pacientes_path, class: "btn btn-secondary btn-sm"%>
</div>
