<% content_for :title, "Editando médico" %>

<h1>Editing medico</h1>

<%= render "form", medico: @medico %>

<br>

<div>
  <%= link_to "Mostrar médico", @medico, class: "btn btn-primary btn-sm" %> |
  <%= link_to "Voltar para médicos", medicos_path, class: "btn secondary btn-sm" %>
</div>
