<% content_for :title, "Médicos" %>

<h1>Médicos</h1>

<div id="medicos">
  <% @medicos.each do |medico| %>
    <%= render medico %>
    <p>
      <%= link_to "Mostrar médico", medico %>
    </p>
  <% end %>
</div>

<p>
  <%= link_to "Gerar PDF", medicos_path(format: :pdf), class: 'btn btn-danger', target: '_blank' %>
</p>

<%= link_to "Novo médico", new_medico_path, class: 'btn btn-primary' %>
